<div class="messageboard col-md-6">
    <div class="messages">
        <h3>Messages</h3>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <div>
                        <img>
                    </div>
                    <div ng-repeat="message in messages">
                        <h5>{{ message.name }}:</h5>
                        <p>{{ message.message}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>