<div class="profiili user profile col-md-6" style="display: none;">
    <h3>Profile</h3>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media">
                <div class="media-body">
                    <h3 class="profiiliNimi">profile name</h3>
                    <img class=" profiiliKuva media-object img-thumbnail center-block" src="" alt="profile picture">
                </div>
                <div class="btn-group btn-group-justified" role="group" aria-label="toiminnot">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#imageModal">Change picture</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#messageModal">New message</button>
                    </div>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-danger btn-sm" data-uid="8">Delete Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>